.top-bar-buttons:hover{
    color: white
}

.bg-dim-grey{
    background: #E6E7EE;
}

.bg-dim-grey:hover{
    background: #F8F8FA;
    cursor: pointer;
}


.bg-dim-grey-no-hover{
    background: #b6b6b6;
    cursor: pointer;
}


input[type="date"]{
    cursor: pointer;
}

.bg-white{
    background-color: #FFFFFF;
}

.bg-dim-white{
    background-color: #F8F8FA;
}



:root {
    
    --primary: #5A7C9E;
    /* --primary-frist-der: #234233; */
    /* --primary-second-der: #234233; */
    
    --secondary: #92ADB8;
    /* --secondary-frist-der: #234233; */
    /* --secondary-second-der: #234233; */

    --tertiary: #7161EF;
    --tertiary-first-der: #5d4fc0;
    /* --tertiary-second-der: #234233; */

}


.cust-bg-primary{
    background-color: var(--primary);
}

.cust-bg-secondary{
    background-color: var(--secondary);
}

.cust-bg-tertiary{
    background-color: var(--tertiary);
}


.cust-b-primary{
    border-color: var(--primary);
}

.cust-b-secondary{
    border-color: var(--secondary);
}

.cust-b-tertiary{
    border-color: var(--tertiary);
}


.cust-text-primary{
    color: var(--primary);
}

.cust-text-secondary{
    color: var(--secondary);
}

.cust-text-tertiary{
    color: var(--tertiary);
}


.blue-buttons{
    outline: none;
    
}

.blue-buttons{
    background-color: var(--primary);
    transition: .3s background;
}


.blue-buttons:hover{
    background-color: var(--tertiary);
}

/* green: #79B160 */
.green-buttons{
    background: #79B160;
    transition: .3s background;
}
/* yellow: #EFC670 */
.green-buttons:hover{
    background: var(--tertiary);
}


.hover-shadow-style{
    transition: .3s all;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}

.hover-shadow-style:hover{
/*  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}