
.cust-bg-primary{
    background-color: #5A7C9E;
}

.cust-bg-secondary{
    background-color: #92ADB8;
}

.cust-bg-tertiary{
    background-color: #8F81E9;
}



.cust-b-primary{
    border-color: #5A7C9E;
}

.cust-b-secondary{
    border-color: #92ADB8;
}

.cust-b-tertiary{
    border-color: #8F81E9;
}


.cust-text-primary{
    color: #5A7C9E;
}

.cust-text-secondary{
    color: #92ADB8;
}

.cust-text-tertiary{
    color: #8F81E9;
}


.main-bg-color{
    background: #EEEEEE;
}









