
.cust-bg-primary{
    background-color: ;
}

.cust-bg-secondary{
    background-color: ;
}

.cust-bg-tertiary{
    background-color: ;
}


.cust-b-primary{
    border-color: ;
}

.cust-b-secondary{
    border-color: ;
}

.cust-b-tertiary{
    border-color: ;
}


.cust-text-primary{
    color: ;
}

.cust-text-secondary{
    color: ;
}

.cust-text-tertiary{
    color: ;
}









